---
layout: compress
permalink: /widget/
---
{% assign base_url = site.url %}
<html>

<head>
  <meta charset="utf-8" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

  </style>
  <style>
    :root {
      --accent: #1caaa2;
      --text: #000;
      --white: #fff;
      --neutral: #eee;
    }

    .dark {
      --accent: #005e5a;
      --text: #fff;
      --white: #000;
      --neutral: #222;
    }

    body {
      font-family: 'Barlow', 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      color: var(--text);
      background: var(--white);
    }

    body:not(.long) .long-only {
      display: none;
    }

    h1 {
      margin: 0;
      font-weight: 600;
      font-size: 19px;
      line-height: 19px;
    }

    span {
      font-size: 15px;
      font-weight: 400;
      line-height: 15px;
    }

    .data-text::after {
      content: attr(data);
    }

    .data-text-prefix::before {
      content: attr(data-key);
      margin-right: 5px;
    }

    .data-text-reverse::before {
      content: attr(data);
    }

    .data-text-reverse.data-text-prefix::after {
      content: attr(data-key);
      margin-left: 5px;
    }

    .data-text-prefix-manual::before {
      content: attr(data-key-manual);
      margin-left: 5px;
    }

    .widget-holder {
      display: flex;
      margin: auto;
      position: absolute;
      height: max-content;
      width: max-content;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 5px;
      box-sizing: border-box;
      max-width: 300px;
    }

    .icon {
      height: 50px;
      max-width: 50px;
      border-radius: 20%;
      background-color: var(--neutral);
    }

    .flex {
      display: flex;
      gap: 10px;
      flex-direction: row;
    }

    .grid {
      display: grid;
      gap: 5px;
    }

    .version {
      transform: translateY(-4px);
      opacity: .5;
    }

    .link {
      text-decoration: none;
      color: inherit;
    }

    .link svg {
      height: 15px;
      width: 15px;
      opacity: .5;
      transform: translateY(1px);
    }

    .info.open svg {
      display: none;
    }

    .info.open {
      position: fixed;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding: 10px;
      height: 100vh;
      width: 100vw;
      z-index: 3;
      background: var(--accent);
      color: #fff;
      overflow: auto;
    }

    .info.open::after {
      content: 'close';
      position: fixed;
      bottom: 0;
      right: 0;
      padding: 3px 10px;
      background: #fff;
      color: var(--accent);
      border-top-left-radius: 5px;
      cursor: pointer;
    }

    .info span {
      line-height: 1.25rem;
      font-size: 16px;
    }

    .info a {
      color: inherit;
      font-weight: 600;
    }

    .info:not(.open) span {
      display: none;
    }

    .info:not(.open),
    .info svg {
      position: fixed;
      right: 5px;
      bottom: 5px;
      z-index: 2;
      height: 1rem;
      width: 1rem;
      cursor: pointer;
    }

    .long-only {
      display: grid;
      gap: 8px 5px;
      margin-top: 10px;
      padding-top: 10px;
      box-shadow: 0 -1px;
    }

    .long-only span {
      display: grid;
      grid-template: 1fr / 1fr 2fr;
      gap: 5px;
    }

    .long-only span::before {
      opacity: .5;
      margin-left: 0;
    }

  </style>
</head>

<body>
  <div class="widget-holder">
    <div class="flex">
      <img class="icon">
      <div class="grid">
        <a class="link" target="_blank">
          <h1 class="title data-text-reverse">
            <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"
              stroke-miterlimit="1.5" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <clipPath id="a">
                <path clip-rule="evenodd" d="m0 0h13.1v13.054h-13.1z" />
              </clipPath>
              <g fill="none">
                <path d="m0 0h13.1v13.054h-13.1z" />
                <g clip-path="url(#a)" stroke="var(--text)" stroke-width="1.88">
                  <path d="m12.271 4.403v-3.597h-3.477" />
                  <path
                    d="m4.605.806h-1.754c-1.117 0-2.022.905-2.022 2.022v7.398c0 1.117.905 2.022 2.022 2.022h7.398c1.117 0 2.022-.905 2.022-2.022 0-.789 0-1.508 0-1.508" />
                  <path d="m6.55 6.527 5.721-5.721" />
                </g>
              </g>
            </svg>
          </h1>
        </a>
        <span class="version data-text data-text-prefix"></span>
        <span class="passedText data-text"></span>
        <span class="verdictText data-text"></span>

        <div class="long-only">
          <span class="developerName data-text data-text-prefix-manual" data-key-manual="Developer"></span>
          <span class="users data-text data-text-prefix-manual" data-key-manual="Downloads"></span>
          <span class="released data-text data-text-prefix-manual" data-key-manual="Released"></span>
          <span class="updated data-text data-text-prefix-manual" data-key-manual="Latest release"></span>
          <span class="date data-text data-text-prefix-manual" data-key-manual="Latest analysis"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="info"
    onclick="this.classList.contains('open')?(this.classList.remove('open')):(this.classList.add('open'))">
    <span>Data provided by <a target="_blank" href="{{ base_url }}">WalletScrutiny</a> and supported by your
      donations.<br><br>
      To embed a widget into your site, copy the code on any of the analysis pages on <a target="_blank"
        href="{{ base_url }}">our website</a>.</span>

    <svg fill="none" height="17" viewBox="0 0 16 17" width="16" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <clipPath id="b">
        <rect height="16" rx="8" width="16" y=".5" />
      </clipPath>
      <g clip-path="url(#b)">
        <rect fill="#1caaa2" height="16" rx="8" width="16" y=".5" />
        <g fill="#fff">
          <circle cx="8.00008" cy="5.33333" r=".833333" />
          <path d="m7.33325 7.16667h1.33333v5.33333h-1.33333z" />
        </g>
      </g>
    </svg>
  </div>
  <script>
    let url = new URL(this.location).hash
    const urlHash = url.substring(1)
    url = url.indexOf("#") == 0 ? url.substring(1) : url
    url = url.split("&")
    let widgetQuery = {}
    for (const obj of url) {
      let item = obj.split("=")
      widgetQuery[item[0]] = item[1]
    }
    this.document.body.classList.add(widgetQuery.theme)
    this.document.body.classList.add(widgetQuery.style)
    if (widgetQuery.theme === 'auto' && this.matchMedia && this.matchMedia('(prefers-color-scheme: dark)').matches) {
      this.document.body.classList.add('dark')
    }
    const q = widgetQuery.appId.split("/")
    const folder = q[0]
    const id = q[1]
    fetch('/assets/js/json/wallets.json', {
      method: 'GET',
    })
      .then(response => response.json())
      .then(data => { fetchWallet(data) })


    function fetchWallet(data) {
      if (data[folder]?.[id]) {
        makeWidgetHTML(data[folder][id])
      }
    }

    function makeWidgetHTML(wallet) {
      for (const [key, value] of Object.entries(wallet)) {
        if (this.document.querySelector(`.${key}`)) {
          this.document.querySelector(`.${key}`).setAttribute("data-key", key)
          this.document.querySelector(`.${key}`).setAttribute("data", value)
          if (!value) {
            this.document.querySelector(`.${key}`).style.display = 'none';
          }
        }
      }
      if (this.document.querySelector(".icon")) {
        this.document.querySelector(".icon").setAttribute('src', `/images/wIcons/${folder}/${this.document.querySelector(".icon").getAttribute("data")}`)
      }
      if (this.document.querySelector(".link")) {
        this.document.querySelector(".link").setAttribute('href', `/${widgetQuery.appId}`)
      }
      try {
        if (this.document.querySelector(".date")) {
          this.document.querySelector(".date").setAttribute('data', this.document.querySelector(".date").getAttribute('data').split(' ')[0])
        }
      } catch (e) { }
    }

    this.getDimensions = false
    this.dimensionsSent = false
    this.addEventListener("load", function () {
      this.getDimensions =
        setInterval(() => {
          const height = this.document.querySelector(".widget-holder").scrollHeight
          const width = this.document.querySelector(".widget-holder").scrollWidth
          if (height > 0 && width > 0) {
            this.dimensionsSent = true
            parent.postMessage({ h: Number(height) + 10, w: Number(width) + 10, name: urlHash }, "*");
          }
        }, 1000)
    });

    this.addEventListener("resize", () => {
      if (this.dimensionsSent) {
        clearInterval(this.getDimensions)
        this.getDimensions = false
      }
    })
  </script>
</body>

</html>
