/* GENERAL STYLES */



body, input {
  color: var(--text)
}

::selection {
  color: var(--permanent-black);
  background-color: var(--accent-text);
}

.theme-parent>i>label {
  font-family: "Barlow", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  display: inline;
  color: var(--masthead-text);
  font-weight: 600;
}

.lazy {
  display: var(--lazy) !important;
}

/* MISSING FONT */

@font-face {
  font-family: 'ws-custom';
  src: url('/assets/fonts/ws-custom/ws-custom.eot?o4t00w');
  src: url('/assets/fonts/ws-custom/ws-custom.eot?o4t00w#iefix') format('embedded-opentype'), url('/assets/fonts/ws-custom/ws-custom.ttf?o4t00w') format('truetype'), url('/assets/fonts/ws-custom/ws-custom.woff?o4t00w') format('woff'), url('/assets/fonts/ws-custom/ws-custom.svg?o4t00w#ws-custom') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.fac {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Font Awesome 5 Free', 'ws-custom' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-f-droid:before {
  content: "\e900";
  /* color: #1976d2; */
}

/* MISSING FONT */

.woot-widget-bubble.woot-elements--right.woot-widget--expanded, .woot-elements--right.woot-widget-bubble.woot--close {
  background: var(--accent-text) !important;
}

.page__date {
  margin-top: .25rem;
  opacity: .5;
  font-size: 0.85rem;
  margin-bottom: 0;
}

#newTitle {
  color: var(--accent-text);
  box-shadow: inset 0px 0px 0px 1px var(--accent-text);
  padding: .15rem .5rem;
  border-radius: 4px;
  position: relative;
  transition: .1s ease;
}

#newTitle::after {
  display: block;
  content: "";
  height: 4px;
  width: 105%;
  position: absolute;
  background: var(--nav);
  bottom: -9px;
  left: -2.5%;
  z-index: 2;
}

#newTitle:hover, #newTitle:active {
  color: var(--white);
  box-shadow: inset 0px 0px 0px 1px var(--accent-text);
  background: var(--accent-text);
}

a.theme-parent>i.fa-sun, .-dark {
  display: var(--hide-light);
}

a.theme-parent>i.fa-moon, .-light {
  display: var(--hide-dark);
}

a {
  color: var(--accent-text);
}

#versions a b {
  text-transform: capitalize;
  font-weight: 800;
}

a.sl {
  text-decoration: none;
}

body.modal-open {
  overflow: hidden;
}

/* body.modal-open #main {
  filter: blur(5px);
} */

@media (max-width:756px) {
  #newTitle::after {
    display: none;
  }

  #main {
    width: 100vw !important;
  }

  #main.app-review {
    margin-top: 0;
  }

  .walletSearch {
    width: 100% !important;
    border-radius: 10px;
  }
}

/* END GENEERAL STYLES */

/* BACKEND WIDGET STYLE */

.code-block-holder {
  background: var(--light-grey);
  padding: 20px;
  margin: 1rem 0;
  border-radius: .5rem;
  max-width: 860px;
  font-family: 'Monaco';
  font-weight: 400;
  font-size: 13px;
}

.cb {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.cb, .cb-subst {
  color: #444;
}

.cb-comment {
  color: #888888;
}

.cb-attribute, .cb-doctag, .cb-keyword, .cb-meta-keyword, .cb-name, .cb-selector-tag {
  font-weight: bold;
}

.cb-deletion, .cb-number, .cb-quote, .cb-selector-class, .cb-selector-id, .cb-string, .cb-template-tag, .cb-type {
  color: var(--cb-red);
}

.cb-section, .cb-title {
  color: var(--cb-red);
  font-weight: bold;
}

.cb-link, .cb-regexp, .cb-selector-attr, .cb-selector-pseudo, .cb-symbol, .cb-template-variable, .cb-variable {
  color: #bc6060;
}

.cb-literal {
  color: #78a960;
}

.cb-addition, .cb-built_in, .cb-bullet, .cb-code {
  color: #397300;
}

.cb-meta {
  color: #1f7199;
}

.cb-meta-string {
  color: #4d99bf;
}

.cb-emphasis {
  font-style: italic;
}

.cb-strong {
  font-weight: bold;
}

/* END BACKEND WIDGET STYLE */



/* HERO */


.-pl .badge {
  overflow: hidden;
  height: 10px;
  width: 10px;
  padding: 0 !important;
  position: absolute;
  box-shadow: inset 0 0 0 10px !important;
  z-index: 2;
  transform: translate(calc(-2rem - 16px), 6px);
}

.results-list.quick-link .-pl>a>span {
  font-size: 11px;
  text-align: left;
  text-align: left;
  width: 150px;
  max-width: 30vw;
  max-height: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1rem;
  display: block;
  color: var(--text);
  opacity: .8;
}

.exit-search {
  display: none;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 4px;
  margin-bottom: 9px;
  margin-top: 0;
  margin-right: auto;
}

.exit-search:hover {
  box-shadow: inset 0px 0px 0px 1px;
}

.exit-search>.fa-circle-notch {
  transform-origin: center;
  animation: loader-spin 1s linear forwards infinite;
}

@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}

.help-text {
  font-size: 12px;
  font-weight: 500;
  opacity: .9;
}

.page-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 150px auto;
}

@media (max-width:1200px) {
  .page-section {
    margin: 0 auto 80px auto;
  }
}

@media (max-width:700px) {
  .page-section {
    margin: 0 auto 40px auto;
  }
}

.hero-parent {
  width: 100%;
  display: grid;
  justify-content: center;
  margin-top: -4rem;
  grid-template-rows: 1fr 4fr 4fr;
  grid-template-columns: 1fr 4fr 2fr;
}

.hero-banner {
  grid-column: 1/4;
  grid-row: 1/4;
  margin: auto;
  content: var(--hero);
}

.hero-cta {
  grid-column: 2/3;
  grid-row: 2/4;
}

.hero-cta .page__title {
  font-size: 2.5rem;
}

.hero-cta>div {
  z-index: 3;
  position: relative;
}

#exitSearchTrigger {
  display: none;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--nav);
  opacity: 0;
}

.search-ui-active {
  overflow: hidden;
}

.search-ui-active #exitSearchTrigger {
  display: block !important;
  animation: to50pc .4s ease forwards 1
}

@keyframes to50pc {
  to {
    opacity: .4;
  }
}

.sidebar {
  z-index: 3;
  position: relative;
}

.sidebar-search-container>#exitSearchTrigger {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.sidebar-search-container {
  position: relative;
  width: 100%;
}

.sidebar-search-container .walletSearch {
  padding: 10px;
  width: 100%;
  font-size: .75rem;
}

.sidebar-search-container .walletSearch-parent {
  grid-template-columns: 1fr auto;
  position: relative;
}

.sidebar-search-container .results-list {
  min-width: 300px;
  max-width: 90vw;
  position: absolute;
  z-index: 2;
  box-shadow: 0px 10px 50px -30px var(--permanent-black);
}

.sidebar-search-container .results-list span {
  grid-column: 2/3;
}


.sidebar-search-container .results-list-wallet-icon {
  grid-row: 1/3;
  margin: 0 auto auto auto;
}

.sidebar-search-container .exit-search {
  padding: .25rem 1rem;
}

.cta-learn-more {
  color: inherit;
  font-size: 1rem;
}

h1 {
  text-align: left;
  font-size: 2.5rem;
  margin-top: 4rem;
}

#collapsedReviews {
  font-size: 1rem;
  margin: 0;
}

h2.section-label {
  text-align: center;
  font-size: 48px;
  margin-right: auto;
}

h2.section-label>a {
  opacity: .4;
  margin-left: 5px
}

h2.section-label>a:hover {
  opacity: 1
}


.walletSearch-parent {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto;
}

.results-list {
  margin: 0;
  list-style: none;
  padding: 0;
  max-height: 40vh;
  grid-column: 1/3;
  grid-row: 2/3;
  overflow: hidden scroll;
  background: var(--white, var(--white));
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  scrollbar-width: thin;
}

.results-list li {
  padding: .75rem;
  margin: 0;
  position: relative;
  z-index: 1;
}



@keyframes results-slide-in {
  from {
    transform: translateX(10px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.results-list li:not(:last-child) {
  box-shadow: 0px 1px 0px 0px var(--shadow-2, rgba(0, 0, 0, 0.2));
}

.results-list-wallet-icon {
  max-height: calc(2rem + 4px);
  max-width: calc(2rem + 4px);
  border-radius: 25%;
  background-color: var(--white);
  box-shadow: 0 0 0 1px var(--white);
}

.walletSearch {
  padding: 20px;
  width: auto;
}

.walletSearch::selection, .walletSearch::-moz-selection {
  color: var(--text);
  background: var(--shadow-3);
}


.results-list li:last-child:hover,
.results-list li:last-child:active {
  box-shadow: inset 2px 0 0 0 var(--neutral-5);
}

.results-list li:focus {
  background: var(--accent);
}

.cta-button {
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  color: var(--accent-text, #61c861);
  transition: .2s ease;
  background: var(--body);
}

.cta-button.primary {
  box-shadow: inset 0px 0px 0px 1px;
  color: var(--accent-text, #61c861);
}

.cta-button:hover {
  background: var(--neutral-6);
}

.cta-button.primary:hover {
  background: var(--accent-text);
  color: var(--white);
}

table tr td count {
  display: block;
  font-size: .9rem;
  color: var(--text);
  border-radius: 5px;
}

table tr td label {
  display: block;
  color: var(--text);
  opacity: .7;
  line-break: anywhere;
}

.fragmented-controls {
  margin: 1rem;
  display: inline-block;
  border: 0 !important;
  padding-bottom: 0 !important;
}

.fragmented-controls-master {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--body);
  border-bottom: 1px solid #f2f3f3;
}

.-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.-disappearable {
  transition: none;
  animation: to100pc 1s ease forwards 1
}

@keyframes to100pc {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.section-label.fragmented-controls {
  font-size: 1.2rem;
  margin: .25rem;
  line-height: 2;
}

#modularWalletPayload {
  transition: 1s ease;
}

@keyframes selectedGrow {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.switch-link-btn-long-string {
  font-size: .9rem;
  opacity: .5;
  text-decoration: none !important;
  transition: .2s ease;
  cursor: pointer;
}

.switch-link-btn-long-string:hover {
  opacity: 1;
}

#gridOfWallets1 {
  grid-column: 1/4;
  grid-row: 2/3;
}

#gridOfWallets1 img.app_logo {
  height: 3em;
  width: 3em;
  float: left;
  margin: 0.3em;
}

#gridOfWallets1, #gridOfWallets2, #gridOfWallets1 tr, #gridOfWallets2 tr, #gridOfWallets1 tr td, #gridOfWallets2 tr td {
  border: 0 !important;
}

#gridOfWallets1 tr>td:first-of-type, #gridOfWallets2 tr>td:first-of-type {
  min-width: 130px;
  max-width: 20%;
  font-weight: bold;
  color: var(--text);
  display: grid;
  grid-auto-flow: row;
  row-gap: .1rem;
  column-gap: 1rem;
  align-content: start;
  text-align: center;
}

@media (max-width:756px) {
  #gridOfWallets1 tr>td:first-of-type, #gridOfWallets2 tr>td:first-of-type {
    grid-auto-flow: column;
    max-width: unset;
    grid-template-columns: auto 1fr;
    text-align: left;
    align-items: center;
  }

  table tr td label {
    font-size: 1.2rem;
  }
}

#gridOfWallets1 tr, #gridOfWallets2 tr {
  margin: 2rem 0 2rem 0;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  transition: .2s linear;
}

#gridOfWallets1 tr>td:nth-of-type(2), #gridOfWallets2 tr>td:nth-of-type(2) {
  background-color: var(--white);
  border-radius: 8px;
  padding: 2rem;
  width: 100%;
}

#gridOfWallets1 tr:hover count, #gridOfWallets2 tr:hover count {
  color: var(--accent-text);
  /* box-shadow: 0px 7px 15px -3px var(--permanent-black, rgba(0, 0, 0, 0.3)), 0px -5px 15px -10px var(--permanent-white); */
}

#gridOfWallets2 img.app_logo {
  float: left;
  margin: 0.3em;
  border-radius: 20%;
}

@media (max-width: 920px) {
  .page {
    padding-left: 0% !important;
    padding-right: 0% !important;
    width: 95vw !important;
  }

  .app-review .page {
    margin-top: 40px;
  }

  .hero-banner {
    display: none;
  }

  .hero-cta {
    grid-column: 1/4;
  }

  .hero-parent {
    text-align: center;
    margin-bottom: 4rem;
  }

  .walletSearch-parent {
    grid-template-columns: 1fr auto;
  }

  .results-list {
    max-width: 90vw;
    max-height: calc(90vh - 60px);
  }

  #gridOfWallets1 tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #gridOfWallets1 tr td, #gridOfWallets2 tr td {
    width: 100%;
  }

  #gridOfWallets1 tr, #gridOfWallets2 tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.-filter-trigger {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100% !important;
  height: 100% !important;
  opacity: 0;
  pointer-events: all;
  z-index: 2;
}

#gridOfWallets1 tr.-filter-element:not(.-android) {
  display: none;
}


/* END HERO */


/* SIDEBAR LIST */

.logo_name_bundle {
  position: relative;
  border-radius: 100px;
  transition: .2s ease;
}

.logo_name_bundle:hover a span {
  color: var(--white);
}

.logo_name_bundle:hover {
  background: var(--dark-grey);
}

#sidebarWalletList .app_logo {
  display: inline-block;
  border-radius: 2px;
  height: 1rem;
  width: auto;
  margin-right: 0.5em;
}

#sidebarWalletList .app_name {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap
}

#sidebarWalletList>div a {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  color: var(--dark-grey);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  padding: 6px 5%;
}

/* END SIDEBAR LIST */

/* APP ANALYSIS */

.page__title.-va-c {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 48px;
}

.star-rating {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-repeat: no-repeat;
  margin-right: auto;
  font-size: 1.4rem;
}

.humanised-numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.humanised-numbers.-bold {
  flex-direction: column;
  text-align: center;
}

.humanised-numbers.-bold>l {
  font-size: 6rem;
  font-weight: 900;
  line-height: 1;
}

.humanised-numbers>i {
  margin-right: .25rem;
  opacity: .5;
}

.humanised-numbers .numb {
  margin-left: .5rem;
}

.secondary-text {
  color: var(--neutral-3);
}

.social-row {
  margin-top: 10px;
  margin-left: -3px;
}


.social-row ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.social-row ul li {
  margin: 0;
}


.social-row a {
  text-transform: capitalize;
  text-decoration: none;
}

.social-row a:hover {
  text-decoration: underline;
}

.social-row a:active {
  opacity: .6;
}

.social-row a::after {
  content: attr(title);
}

.app-summary-grid .social-row a i {
  font-size: 11px;
  line-height: 15px;
  transition: none;
}

.social-row a.link-twitter:hover {
  background-color: #00aeff;
}

.link-twitter:hover {
  color: #00aeff;
}

.social-row a.link-facebook:hover {
  background-color: #0044ff;
}

.link-facebook:hover {
  color: #0044ff;
}

.social-row a.link-reddit:hover {
  background-color: #ff7b00;
}

.link-reddit:hover {
  color: #ff7b00;
}

.social-row a.link-linkedin:hover {
  background-color: #003cff;
}

.link-linkedin:hover {
  color: #003cff;
}

/* APP ANALYSIS NEW */

.app-summary-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: auto 1fr;
  margin-bottom: 2rem;
}

@media (max-width:500px) {
  .app-summary-grid {
    gap: 10px;
  }
}

.app-summary-grid>.app_logo_big {
  grid-column: 1/2;
  grid-row: 1/2;
}

.app-summary-grid .app-sum-head {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 10px;
  align-content: start;
}

.app-summary-grid .app-sum-head .version {
  font-size: 18px;
  opacity: .5;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: 4px;
}

.verdict>span {
  display: inline-block;
  text-align: center;
}

/* .app-summary-grid .social-row ul li a i {
  font-size: .9rem;
} */

.app-summary-grid>.app-payload-flex {
  grid-column: 1/3;
  grid-row: 2/3;
}

.app-payload-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 30px;
}

@media (max-width:500px) {
  .app-payload-flex {
    gap: 15px;
  }
}

.app-payload-flex>div {
  display: grid;
  grid-template: repeat(3, auto) / 1fr;
  max-width: 50vw;
  justify-items: center;
  padding: 10px 15px;
  align-items: center;
  margin-bottom: auto;
  gap: 5px;
}

.app-payload-flex>div:not(.reproducible) {
  box-shadow: 0 0 60px -20px var(--shadow-2);
  border-radius: 15px;
}

@media (max-width: 500px) {
  .app-summary-grid {
    display: flex !important;
    flex-direction: column;
  }

  .app-summary-grid>.app-payload-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
  }

  .app-payload-flex>svg, .app-payload-flex>.svg {
    display: none;
  }

  .app-payload-flex>svg {
    display: none;
  }

  .app-payload-flex>svg, .app-payload-flex>.svg {
    display: none;
  }

  .app-payload-flex>div {
    text-align: center;
    box-shadow: inset 0px 0px 0px 1px var(--body);
    background: var(--neutral-6);
    height: 100%;
    padding: 10px;
  }
}

.app-payload-flex>div>label {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 13px;
  font-weight: bold;
  cursor: unset;
  opacity: .5;
  color: var(--text);
  margin-bottom: 0;
}

.app-payload-flex>div>label>i {
  font-size: 10px;
  transform: translateY(-2px);
}

.app-payload-flex .label-lower .secondary-text {
  opacity: 1;
}

.app-payload-flex>div>div {
  position: relative;
}

.app-payload-flex>div>div * {
  font-size: 18px;
  line-height: 20px;
}

.app-payload-flex>div>div a {
  transform: translateY(-2px);
  display: flex;
  margin: auto;
  align-items: center;
  text-decoration: none;
  gap: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--text);
  justify-content: center;
}

.app-payload-flex>div>div a .fa-chevron-right {
  transform: translateX(-2px);
}

.app-payload-flex>div>div a:hover .fa-chevron-right {
  transform: translateX(2px);
}
.app-payload-flex>div>div a:hover {
  color: var(--accent-text);
}

.app-payload-flex>div>div img {
  height: 16px;
}

@media (max-width:700px) {
  .app-payload-flex>div>div a {
    color: var(--accent-text);
  }
  .app-payload-flex>div>div a .fa-chevron-right,
  .app-payload-flex>div>div img {
    display: none;
  }
}


.app-payload-flex>svg, .app-payload-flex>.svg {
  height: 100%;
  width: 100px;
  padding: 0;
  max-height: 100px;
  max-width: 50vw;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto 0;
}

.svg.reproducible {
  background-image: var(--reproducible-badge);
  /* transform: rotate(-25deg); */
  background-position: 50% 50%;
}

.app-payload-flex>div>span {
  font-size: 13px;
}

/* SIDEBAR UI MOBILE */

#collapseWalletList {
  display: none
}

@media (max-width: 920px) {
  #sidebarWalletList {
    display: none;
  }

  .sidebar-container {
    margin: 1rem 0 auto 0;
    box-shadow: 0 1px 0 0 var(--shadow-2);
    padding-bottom: 5px;
  }

  .sidebar-search-container .results-list {
    min-width: 90vw;
  }

  .-border-fx {
    box-shadow: 0 0 0 2px var(--rust);
  }

  .app_logo.-border-fx.border-reproducible {
    box-shadow: 0 0 0 2px var(--accent);
  }

  #main.app-review {
    margin-top: 0;
  }
}

.platform-logo {
  position: absolute;
  top: 4px;
  font-size: 22px;
  right: 0px;
}

.wallet-link {
  white-space: nowrap;
  font-weight: bold;
  line-height: 2em;
}

.wallet-link>.verdictBadge>span {
  font-size: .5em;
  border-radius: 5px !important;
  padding: 3px !important;
}

.verdictBadge {
  text-decoration: none !important;
  margin-right: auto;
}

.verdictBadge>span {
  white-space: nowrap;
  padding: 5px 10px 3px;
  border-radius: 100px;
  color: var(--white, #fff);
  text-transform: uppercase;
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}

.praiseBox {
  border: solid 3px black;
  border-radius: 20px;
  background: var(--green-notify-background);
  margin-bottom: 1em;
  font-weight: bold
}

.praiseBox>div {
  margin: 1em;
}

.alertBox {
  border-radius: 10px;
  background: var(--red-notify-background);
  margin-bottom: 1em;
  font-weight: bold;
  margin-top: 1rem;
  padding: 15px;
}

.infoBox {
  border-radius: 10px;
  background: var(--blue-notify-background);
  margin-bottom: 1em;
  font-weight: bold;
  margin-top: 1rem;
  padding: 15px;
}

.meta_stale {
  filter: opacity(70%);
  border: solid 0.3rem gray;
}

.meta_stale.AppDisplayCard {
  padding: 0.45rem !important;
}

.meta_obsolete {
  filter: opacity(50%);
  border: solid 0.3rem black;
}

.meta_obsolete.AppDisplayCard {
  padding: 0.45rem !important;
}

.meta_outdated {
  filter: grayscale(1);
  border: solid 0.3rem gray;
}

.meta_outdated.AppDisplayCard {
  padding: 0.45rem !important;
}

.meta_defunct {
  filter: opacity(30%);
  border: solid 0.3rem red;
}

.meta_defunct.AppDisplayCard {
  padding: 0.45rem !important;
}

.meta_stale:hover, .meta_obsolete:hover, .meta_outdated:hover, .meta_defunct:hover {
  filter: none;
}

.donate-modal {
  display: none;
  position: fixed;
  z-index: 21;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.donate-modal-content {
  background-color: #eee;
  margin: auto;
  padding: 2em;
  border: 1px solid #888;
  border-radius: 15px;
  width: 90%;
  height: 90%;
  color: black;
  margin-top: 2.5%;
  overflow: auto;
  text-align: center;
}

.gridDonationCall {
  font-weight: bold;
}