{% if page.url %}
<div style="background-color: white; padding: 1rem; border-radius: 1rem">
  <nostr-opinion
    name="{{ page.url }}"
    header="Opinion about {{page.url}}"
    footer="[join the conversation!](https://walletscrutiny.com/)"></nostr-opinion>
</div>
{% endif %}
<script type="module">
  import { expertOpinions } from "/assets/js/nostr-opinion.js";
  import experts from "/assets/js/experts.mjs";
  expertOpinions.trustedAuthors = experts;
</script>
